<form class="add-lecture-form" novalidate name="form" ng-submit="ok()">

    <div class="modal-header">
        <a ng-click="modal.cancel()" class="pointer">
            <i class="fa fa-times pull-right"></i>
        </a>

        <h3 class="modal-title" ng-if="!modal.isEdit">Add new lecture here</h3>
        <h3 class="modal-title" ng-if="modal.isEdit">Edit lecture</h3>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-5">

                <lecture-form-field form="form"
                                    name="name"
                                    label="Speaker Name"
                                    placeholder="Enter Speaker full name"
                                    model="modal.data.speaker"
                                    required-error="Please, enter speaker name"></lecture-form-field>
            </div>

            <div class="col-md-4">
                <lecture-date-field date="modal.data.date" form="form"></lecture-date-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <lecture-form-field form="form"
                                    name="organization"
                                    label="Organization"
                                    placeholder="Enter organization"
                                    model="modal.data.organization"
                                    required-error="Please, enter organization"></lecture-form-field>
            </div>

            <div class="col-md-12">

                <lecture-form-field form="form"
                                    name="title"
                                    label="Title"
                                    placeholder="Enter lecture title"
                                    model="modal.data.title"
                                    required-error="Please, enter title"></lecture-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div text-angular
                     ng-model="modal.data.abstract"
                     name="abstract"
                     ta-text-editor-class="border-around"
                     ta-html-editor-class="border-around"></div>
            </div>
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="modal.ok()" ng-disabled="form.$invalid || loading">Save
        </button>
        <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Cancel</button>
    </div>

</form>