<div class="form-group">
    <label for="date">{{label}}</label>
    <div class="input-group" ng-class="{'has-error': form[name].$invalid && form[name].$dirty}">

        <input id="date"
               type="text"
               name="{{name}}"
               class="form-control"
               uib-datepicker-popup
               ng-model="model"
               is-open="opened"
               datepicker-options="dateOptions"
               ng-required="{{require()}}"
               close-text="Close"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDP()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

    </div>
    <div ng-messages="form[name].$error" ng-if="form[name].$dirty" role="alert">
        <small class="help-block" ng-message="required">Please, choose date</small>
    </div>
</div>