<div class="form-group">
    <label for="date">Date</label>
    <div class="input-group" ng-class="{'has-error': form.date.$invalid && form.date.$dirty}">

        <input id="date"
               type="text"
               name="date"
               class="form-control"
               uib-datepicker-popup
               ng-model="date"
               is-open="opened"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Close"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDP()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

    </div>
    <div ng-messages="form.date.$error" ng-if="form.date.$dirty" role="alert">
        <small class="help-block" ng-message="required">Please, choose date</small>
    </div>
</div>