<admin-header></admin-header>

<div class="container admin lectures">
    <table class="table table-striped">
        <caption>
            List of lectures.
            <a class="pull-right pointer add" ng-click="lectures.addNew()">
                <i class="fa fa-plus"></i>
            </a>
        </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Speaker</th>
            <th class="hidden-xs">Title</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="lecture in lectures.lectures">
            <td>{{$index + 1}}</td>
            <td>{{lecture.speaker.fullname}}</td>
            <td class="hidden-xs">{{lecture.title}}</td>
            <td>{{lecture.date | date:'dd MMM'}}</td>
        </tr>
        </tbody>
    </table>
</div>