<main-header></main-header>

<div class="container committee">
    <h1>Contacts</h1>

    <p>
        For all questions connected with science program please contact:
    <address>
        <strong>Valery Shematovich</strong><br>
        <a href="mailto:shematov@inasan.ru">shematov@inasan.ru</a>
    </address>
    </p>

    <h3>Service Agency</h3>
    <p>
    <address>
        <strong>Fateeva Anna</strong><br>
        <a href="mailto:school_exo_2016@inasan.ru">school_exo_2016@inasan.ru</a>
    </address>
    <address>
        <strong>Artem Arakcheev</strong><br>
        <a href="mailto:school_exo_2016@inasan.ru">school_exo_2016@inasan.ru</a>
    </address>
    </p>
</div>