<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
    <ul class="nav bs-docs-sidenav">
        <li class="">
            <a href="/">Overview</a>
        </li>
        <li>
            <a href="/announcement">Announcement</a>
        </li>
        <li>
            <a href="/program">Program</a>
        </li>
        <li>
            <a href="/committee">Organizing Committee</a>
        </li>
        <li>
            <a href="/registration">Registration</a>
        </li>
        <li>
            <a href="/contacts">Contacts</a>
        </li>
    </ul>
</nav>