<main-header></main-header>

<div class="container">
    <h1>Program Overview</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">MONDAY, MARCH 30</h3>
        </div>
        <ul class="list-group">
            <program-list-item days="program.days[program.day1]"></program-list-item>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">TUESDAY, MARCH 31</h3>
        </div>
        <ul class="list-group">
            <program-list-item days="program.days[program.day2]"></program-list-item>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">WEDNESDAY, JUNE 1</h3>
        </div>
        <ul class="list-group">
            <program-list-item days="program.days[program.day3]"></program-list-item>
        </ul>
    </div>

</div>