<div class="container">
    <h1>Program Overview</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SUNDAY, MARCH 29</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="pull-right">8:00 AM – 9:00 AM</div>
                Registration
            </li>
            <li class="list-group-item">
                <div class="pull-right">9:00 AM – 9:30 AM</div>
                School opening
            </li>
            <li class="list-group-item">
                <div class="pull-right">9:30 AM – 11:00 AM</div>
                <a class="pointer">Session</a>
            </li>
            <li class="list-group-item">
                <div class="pull-right">11:00 AM – 11:30 AM</div>
                Coffee break
            </li>
            <li class="list-group-item">
                <div class="pull-right">11:30 AM – 13:10 AM</div>
                <a class="pointer">Session</a>
            </li>
            <li class="list-group-item">
                <div class="pull-right">13:10 AM – 14:40 AM</div>
                Lunch Break
            </li>
            <li class="list-group-item">
                <div class="pull-right">14:40 AM – 16:20 AM</div>
                <a class="pointer">Session</a>
            </li>
            <li class="list-group-item">
                <div class="pull-right">16:20 AM – 16:50 AM</div>
                Coffee break
            </li>
            <li class="list-group-item">
                <div class="pull-right">16:50 AM – 17:00 AM</div>
                <a class="pointer">Session</a>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SATURDAY, MARCH 30</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="pull-right">10:40 AM – 11:00 AM</div>
                Coffee break
            </li>
            <li class="list-group-item">
                <div class="pull-right">12:40 AM – 14:00 AM</div>
                Lunch Break
            </li>
            <li class="list-group-item">
                <div class="pull-right">15:40 AM – 16:00 AM</div>
                Coffee break
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SATURDAY, MARCH 31</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="pull-right">10:40 AM – 11:00 AM</div>
                Coffee break
            </li>
            <li class="list-group-item">
                <div class="pull-right">12:40 AM – 14:00 AM</div>
                Lunch Break
            </li>
            <li class="list-group-item">
                <div class="pull-right">15:40 AM – 16:00 AM</div>
                Coffee break
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">FRIDAY, JUNE 1</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="pull-right">10:40 AM – 11:00 AM</div>
                Coffee break
            </li>
            <li class="list-group-item">
                <div class="pull-right">12:40 AM – 14:00 AM</div>
                Lunch Break
            </li>
            <li class="list-group-item">
                <div class="pull-right">15:40 AM – 16:00 AM</div>
                Coffee break
            </li>
        </ul>
    </div>

</div>