<li class="list-group-item"
    ng-repeat="day in days">

    <div class="pull-right">
        {{day.item.date | date:'HH:mm'}} – {{day.item.endDate | date:'HH:mm'}}
    </div>
    <span ng-if="day.sessions.length === 0">{{day.item.title}}</span>

    <a class="pointer"
       ng-init="day.sessionOpen = true"
       ng-if="day.sessions.length > 0"
       ng-click="day.sessionOpen = !day.sessionOpen">
        {{day.item.title}}
    </a>
    <div uib-collapse="day.sessionOpen" ng-if="day.sessions.length > 0">
        <div class="well well-lg">

            <div ng-repeat="session in day.sessions">
                <div class="row">
                    <div class="col-md-11">
                        <p>
                            <strong>{{session.speaker.fullname}}
                                <small> ({{session.speaker.organization}})
                                </small>
                            </strong>
                            <i>{{session.title}}</i>
                        </p>
                    </div>
                    <div class="pull-right"><strong>{{session.date | date:'HH:mm'}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p ng-bind-html="session.abstr"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>