<main-header></main-header>

<div class="container welcome-message">
    <p>Dear Colleagues!</p>

    <p>
        We have a pleasure to invite you to participate in <strong>INTERNATIONAL SCHOOL FOR STUDENTS AND YOUNG
        SCIENTISTS "Exoplanets in binary stellar systems"</strong> to be held at Institute of Astronomy of the
        Russian Academy of Sciences, Moscow, Russia
    </p>

    <p><strong>29 May - 1 June, 2016</strong></p>

    <p>Working languages of the school are English and Russian.</p>

    <address>
        Institute of Astronomy of the
        Russian Academy of Sciences<br>
        48 Pyatnitskaya St., 119017<br>
        Moscow, Russia<br>
        <abbr title="Phone">P:</abbr> +7 (495) 951-54-61
    </address>

</div>