<main-header></main-header>

<div class="container welcome-message">
    <p>Dear Colleagues!</p>

    <p>

        We are pleased to announce that the <strong>International School for students and young scientists “Exoplanets in the Binary Stellar Systems”</strong> will be held in Moscow on <strong>30 May - 1 June, 2016</strong>.

    </p>

    <p>Working languages of the school are English and Russian.</p>

    <strong class="visible-sm visible-xs">Organizations</strong>

    <div class="row">

        <address class="col-md-6">
            Institute of Astronomy of the
            Russian Academy of Sciences<br>
            48 Pyatnitskaya St., 119017<br>
            Moscow, Russia<br>
            <abbr title="Phone">P:</abbr> +7 (495) 951-54-61
        </address>

        <address class="col-md-6">
            <div class="pull-right hidden-sm hidden-xs">
                Russian Science Foundation<br>
                <img ng-src="/assets/images/rnf-en_0.png" class="img-responsive" alt="Russian science foundation">
            </div>

            <div class="visible-sm visible-xs">
                Russian Science Foundation<br>
                <img ng-src="/assets/images/rnf-en_0.png" class="img-responsive" alt="Russian science foundation">
            </div>
        </address>
    </div>

</div>