<main-header></main-header>

<div class="container welcome-message">
    <p>Dear Colleagues!</p>

    <p>

        We are pleased to announce that the <strong>International School for students and young scientists “Exoplanets in the Binary Stellar Systems”</strong> will be held in Moscow on <strong>30 May - 1 June, 2016</strong>.

    </p>

    <p>Announcement in PDF format available by <a class="pointer" ng-click="index.go()">link</a>.  </p>

    <p>Working languages of the school are English and Russian.</p>

    <h3>Organizations</h3>

    <div class="row">

        <address class="col-md-6">
            <div class="hidden-sm hidden-xs">
                Institute of Astronomy of the
                Russian Academy of Sciences<br>
                48 Pyatnitskaya St., 119017<br>
                Moscow, Russia<br>
                <abbr title="Phone">P:</abbr> +7 (495) 951-54-61
            </div>
        </address>

        <div class="col-md-6 index-logo hidden-sm hidden-xs">
            <img ng-src="/assets/images/logo.png" width="85px" class="img-responsive pull-right" alt="Russian science foundation" >
        </div>

        <div class="visible-xs visible-sm col-sm-12 orgs-mobile">
            <img ng-src="/assets/images/logo.png" width="85px" class="" alt="Russian science foundation" >

            <img ng-src="/assets/images/rnf-en_0.png" width="302" class="" alt="Russian science foundation">
        </div>
    </div>

    <div class="row">
        <address class="col-md-6">
            <div class="hidden-sm hidden-xs">
                Russian Science Foundation<br>
                14/3 Solyanka str., 109992<br>
                Moscow, Russia<br>
            </div>
        </address>

        <div class="col-md-6 hidden-sm hidden-xs">
            <img ng-src="/assets/images/rnf-en_0.png" width="302" class="img-responsive pull-right" alt="Russian science foundation">
        </div>
    </div>

</div>