body {
  font-family: "Roboto",Arial, sans-serif;
  font-size:16px;
  font-weight:400;
  text-decoration:none
}

//fix for ubuntu chrome scroll
body{
  overflow: scroll;
}

@media (max-width: 768px) {
  .navbar-collapse.in{
    border-bottom: 1px solid #e5e5e5;
  }
}

.pointer {
  cursor: pointer;
}

#header {
  position: fixed;
  width: 100%;
}

.welcome-message, .committee {
  font-size: 20px;

  p {
    margin-bottom: 25px;
  }

  h1 {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.admin {
  padding-top: 50px;
}

table {
  .add {
    padding: 0 10px;
  }
}

.table-lectures {
  .number {
    width: 10px;
  }
  .speaker {
    width: 250px;
  }
  .date{
    width: 100px;
  }
  .buttons{
    width: 90px;

    a{
      padding: 0 10px;
    }
  }
}

.table-workshop {
  .buttons{
    width: 90px;

    a{
      padding: 0 10px;
    }
  }
}

.add-lecture-form{
  .time{
    margin-top: -9px;
  }
}

.angular-google-map-container {
  height: 400px;
  margin-bottom: 100px;
}

.logo-image{
  width: 27px;
  position: relative;
  top: -5px
}

.index-logo{
  padding-right:235px;
}

.orgs-mobile img{
  margin-right: 40px
}