body {
  font-family: "Roboto", serif;
}

.pointer {
  cursor: pointer;
}

#header {
  position: fixed;
  width: 100%;
}

.welcome-message, .committee {
  font-size: 20px;

  p {
    margin-bottom: 25px;
  }

  h1 {
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.admin {
  padding-top: 50px;
}

.lectures {
  .add {
    padding: 0 10px;
  }
}