<main-header></main-header>

<div class="container committee">
    <h1>Organizing Committee</h1>

    <p>The school is organized by
    <ul>
        <li>
            <a href="http://www.inasan.ru">Institute of Astronomy, R.A.S</a>
        </li>
        <li>
            <a href="http://rscf.ru/en/">Russian Science Foundation</a>
        </li>
    </ul>
    </p>

    <p>Organizing Committee
    <ul>
        <li>Shematovich V.I. (Chair, Institute of Astronomy)</li>
        <li>Bisikalo D. V. (Institute of Astronomy)</li>
        <li>Kaygorodov P. V. (Institute of Astronomy)</li>
        <li>Fateeva A.M. (Scientific secretary, Institute of Astronomy)</li>
        <li>Arakcheev A.S. (Institute of Astronomy)</li>
        <li>Cherenkov A.A. (Institute of Astronomy)</li>
    </ul>
    </p>

    <p>The school is organized as a course of invited lectures given by leading
        Russian and foreign scientists working in exoplanet sciences, astrophysics of binary stellar systems, kinetic
        theory of gases, computational fluid dynamics.
    </p>

    <p>
        The school is financially supported by the Russian Science Foundation, Grant №15-12-30038.
    </p>
</div>