<main-header></main-header>

<div class="container committee">
    <h1>Organizing Committee</h1>

    <p>The school is organized by
        <ul>
            <li>Institute of Astronomy, R.A.S</li>
        </ul>
    </p>

    <p>Organizing Committee
    <ul>
        <li>Kustova E.V. (Co-chair, Saint Petersburg State University)</li>
        <li>Bondar Ye.A. (Co-chair, Khristianovich Institute of Theoretical and Applied</li>
        <li>Mekhonoshina M.A. (Scientific secretary, Saint Petersburg State University)</li>
    </ul>
    </p>

    <p>The School is financially supported by the Russian Science Foundation, grant № 15-19-30016</p>
</div>