@()

<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300">
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">

<link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>

@*<link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>*@

<link rel="stylesheet" href='@routes.Assets.versioned("/stylesheets/docs.css")'/>
<link rel="stylesheet" href='@routes.Assets.versioned("/stylesheets/main.css")'/>