@()

<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300">
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">

<link rel="stylesheet" href='//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css'>

<link rel="stylesheet" href='//cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css'>

<link rel="stylesheet" href='@routes.Assets.versioned("/stylesheets/docs.css")'/>
<link rel="stylesheet" href='@routes.Assets.versioned("/stylesheets/main.css")'/>

<link rel="shortcut icon" type="image/icon" href="@routes.Assets.versioned("images/favicon.ico")">