<form class="add-lecture-form" novalidate name="form" ng-submit="modal.ok()">

    <div class="modal-header">
        <a ng-click="modal.cancel()" class="pointer">
            <i class="fa fa-times pull-right"></i>
        </a>

        <h3 class="modal-title">Edit participant</h3>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="col-md-5">

                <lecture-form-field form="form"
                                    name="name"
                                    label="Name"
                                    placeholder="Enter name"
                                    model="modal.data.name"
                                    required-error="Please, enter name"></lecture-form-field>

                <lecture-form-field form="form"
                                    name="surname"
                                    label="Surname"
                                    placeholder="Enter surname"
                                    model="modal.data.surname"
                                    required-error="Please, enter surname"></lecture-form-field>

                <lecture-form-field form="form"
                                    name="middleName"
                                    label="Middle name"
                                    placeholder="Enter Middle name"
                                    model="modal.data.middleName"
                                    required-error="Please, enter middle name"></lecture-form-field>

                <lecture-form-field form="form"
                                    name="organization"
                                    label="organization"
                                    placeholder="Enter Organization"
                                    model="modal.data.organization"
                                    required-error="Please, enter organization"></lecture-form-field>

                <lecture-form-field form="form"
                                    name="position"
                                    label="position"
                                    placeholder="Enter Position"
                                    model="modal.data.position"
                                    required-error="Please, enter position"></lecture-form-field>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="modal.ok()" ng-disabled="form.$invalid || loading">Save
        </button>
        <button class="btn btn-danger" type="button" ng-click="modal.cancel()">Cancel</button>
    </div>

</form>